<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="emailQuotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <emailQuotes.Properties.Settings>
            <setting name="directoryPath" serializeAs="String">
              <!--You need to point this to the path where you are storing your text quote files.  
                  Example  <value>C:\Users\eddyizm\Documents\NppScripts</value>-->
              <value>C:\YourFolder</value>
            </setting>
        </emailQuotes.Properties.Settings>
    </applicationSettings>
</configuration>